    <% if @template.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

        <ul>
        <% @template.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <%= form_for [@organization, @template] do |f| %>
      <div class="form-group">
        <%= f.hidden_field :size %>
      </div>
      <div class="form-group">
        <%= f.label :name, "Give your bingo template a cool name." %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :rating %><br>
        <%= f.select :rating, options_for_select(@ratings.collect { |s| [s[0].humanize, s[0]] }),{}, {class: "form-control"} %>
      </div>
      <div class="checkbox">
        <%= f.label :is_public do %>
          <%= f.check_box :is_public %>
          <span>Share?</span> <em>Public templates can be seen by anyone.  Private templates can only be seen by members of your group.</em> <span>Check to share.</span>
        <% end %>
      </div>
     
     <%# @size and @this_col will be used to determine if should make rows or cells in the table %>
    <% @size = @template.size %>
    <% @this_col = 0 %>
    
    
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">    
        <table class="bingo-welcome bingo-template">
          <thead>
            <tr>
              <th class="bingo-th below-arc-text col-xs-2">B</th>
              <th class="bingo-th below-arc-text col-xs-2">I</th>
              <th class="bingo-th below-arc-text col-xs-2">N</th>
              <th class="bingo-th below-arc-text col-xs-2">G</th>
              <th class="bingo-th below-arc-text col-xs-2">O</th>
            </tr>
          </thead>
          <tbody class="bingo-tbody">
            <%= f.fields_for :squares do |ff| %>
              <%# when the mod of the @this_col % @size == 0, then make a new row, otherwise, make a new cell %>
              <% if @this_col % @size == 0  %>
                <tr class="bingo-tr">
              <% end  %>
                  <td id='<%= "bingo-#{ff.object.position_x}-#{ff.object.position_y}"  %>' class="col col-xs-2 bingo-col bingo-td-no-padding">
                    <div class="bingo-contents" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="trial">
                      <div class="question">
                        <div class="position">
                          <%= ff.hidden_field :position_x %>
                          <%= ff.hidden_field :position_y %>
                          <%= ff.hidden_field :question %>
                        </div>
                        <p>
                          <%= ff.object.question %>
                        </p>
                        <% if (ff.object.position_x == (@size.to_f/2).floor && ff.object.position_y == (@size.to_f/2).floor)%>
                         <div class="checkbox">
                           <%= ff.label :free_space do %><br>
                             <%= ff.check_box :free_space %> free space?
                           <% end %>
                         </div>
                        <% end %>
                      </div>
                    </div>
                  </td>
              <%# When it's the end of the row (ie % is -1), then end the row %>
              <% if @this_col % @size == (@size - 1)  %>
                </tr>
              <% end  %>
              <% @this_col += 1 %>
            <% end %>
          </tbody>
        </table>
     </div>
    </div>
    <div style="clear:both"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>


    <div class="margin20"></div>
    <div class="actions form-group">
      <%= f.button class: "btn accent-background" %>
    </div>
  <% end %>