<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @template.size %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @template.organization_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @template.rating %>
</p>

<p>
  <strong>Public:</strong>
  <%= @template.is_public %>
</p>

<%= link_to 'Edit', edit_organization_template_path(@organization.id, @template.id) %> |
<%= link_to 'Group', organization_path(@organization) %>
