<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
    <h1 class="accent-font text-center">Reviewing the <%= @template.name %> Template</h1>
    <h4 class="text-center">Belonging to you, <%= link_to @template.organization.name, organization_path(@template.organization) %></h4>

    <% if @template.cards.count == 0 %>
      <h5 class="text-center">Not played yet.</h5>
    <% else %>
      <h5 class="text-center">Played <%= @template.cards.count %> times!</h5>
    <% end %>

    <div class="margin30"></div>
    
    <p>
      <strong>Rating:</strong>
      <%= @template.rating %>
    </p>

    <p>
      <strong>Created:</strong>
      <%= humanized_time(@template.created_at) %>
    </p>

    <p>
      <strong>Access:</strong>
      <%= public_or_private(@template) %>
    </p>

    <p>
      <strong>Link:</strong>
      <%= link_to shareable_link(@template), shareable_link(@template) %>
      <p><em>Unless your template is public, only members will have access to this url.</em></p>
    </p>
    
  </div>


  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">    
    <%= link_to 'Edit', edit_organization_template_path(@organization.id, @template.id), class: "btn accent-background" %> 
    <%= link_to 'Play!', share_template_path(@template.token), class: "btn accent-background" %> 
  
    <div class="margin20"></div>
    
    <div id="show-bingo">BINGO</div>
     <%# @size and @this_col will be used to determine if should make rows or cells in the table %>
    <% @size = @template.size %>
    <% @this_col = 0 %>
  
    
    <table class="bingo-welcome bingo-template">
      <thead>
        <tr>
          <th class="bingo-th below-arc-text col-xs-2">B</th>
          <th class="bingo-th below-arc-text col-xs-2">I</th>
          <th class="bingo-th below-arc-text col-xs-2">N</th>
          <th class="bingo-th below-arc-text col-xs-2">G</th>
          <th class="bingo-th below-arc-text col-xs-2">O</th>
        </tr>
      </thead>
      <tbody class="bingo-tbody">
      <% @template.squares.each do |square| %>
        <%# when the mod of the @this_col % @size == 0, then make a new row, otherwise, make a new cell %>
    
        <% if @this_col % @size == 0  %>
          <tr class="bingo-tr">
        <% end  %>
        <% if (square.free_space ) %>
          <td id='<%= "bingo-#{square.position_x}-#{square.position_y}"  %>' class="col col-xs-2 bingo-col bingo-td-no-padding marked bingo-col-square">
        <% else %>
          <td id='<%= "bingo-#{square.position_x}-#{square.position_y}"  %>' class="col col-xs-2 bingo-col bingo-td-no-padding bingo-col-square">
        <% end %>
            <div class="bingo-contents">
              <h6><%= square.question %></h6> 
            </div>
          </td>
        <%# When it's the end of the row (ie % is -1), then end the row %>
        <% if @this_col % @size == (@size - 1)  %>
          </tr>
        <% end  %>
        <% @this_col += 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="margin20"></div>

  <div class="margin20"></div>
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
    <h2 class="accent-font accent-background text-center">Players</h2>
    <a download="somedata.xls" href="#" class="btn" onclick="return ExcellentExport.excel(this, 'datatable', 'Sheet Name Here');" data-toggle="tooltip" data-placement="top" title="Export to Excel"><i class="fa fa-file-excel-o"></i></a>
    <a download="somedata.csv" href="#" class="btn" onclick="return ExcellentExport.csv(this, 'datatable');" ata-toggle="tooltip" data-placement="top" title="Export to CSV"><i class="fa fa-file"></i></a>

    <table id="datatable">
      <thead>
        <tr>
          <th colspan="4"><h3 class="accent-font text-center">Players of <%= @template.name %> template</h3></th>
        </tr>
        <tr>
          <th class="col col-xs-3">First Name</th>
          <th class="col col-xs-3">Last Name</th>
          <th class="col col-xs-3">Last Modified</th>
          <th class="col col-xs-3">Number of bingos</th>
        </tr>
      </thead>
      <tbody>
        <% @template.cards.each do |card| %>
          <tr>
            <td><%= card.user.first_name %></td>
            <td><%= card.user.last_name %></td>
            <td><%= humanized_time(card.updated_at) %></td>
            <td><%= card.num_bingos %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="margin20"></div>

  </div>
</div>

<div class="margin20"></div>
<%= link_to "Return to #{@organization.name}", organization_path(@organization), class: "btn accent-background" %>