<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text">
        <h1 class="header-arc-text">
          <span class="char1 char">h</span>
          <span class="char2 char">a</span>
          <span class="char3 char">v</span>
          <span class="char4 char">e</span>
          <span class="char5 char"></span>
          <span class="char6 char">y</span>
          <span class="char7 char">o</span>
          <span class="char8 char">u</span>
          <span class="char9 char"></span>    
          <span class="char10 char">e</span>
          <span class="char11 char">v</span>
          <span class="char12 char">e</span>
          <span class="char13 char">r</span>
        </h1> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
      <table class="bingo-welcome">
        <tr>
          <th class="bingo-th below-arc-text col-xs-2">B</th>
          <th class="bingo-th below-arc-text col-xs-2">I</th>
          <th class="bingo-th below-arc-text col-xs-2">N</th>
          <th class="bingo-th below-arc-text col-xs-2">G</th>
          <th class="bingo-th below-arc-text col-xs-2">O</th>
        </tr>
        <tbody class="bingo-tbody">
        <tr class="bingo-tr">
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo1.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo2.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo3.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo4.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo5.jpg' %>);"></div>
          </td>
        </tr>
        <tr class="bingo-tr">
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo6.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo7.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo8.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo9.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo10.jpg' %>);"></div>
          </td>
        </tr>
        <tr class="bingo-tr">
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo11.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo12.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col" style="text-align:center;">
           <i class="fa fa-star fa-4x"></i>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo14.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo15.jpg' %>);"></div>
          </td>
        </tr>
        </tr>
        <tr class="bingo-tr">
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo16.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo17.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo18.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo19.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo20.jpg' %>);"></div>
          </td>
        </tr>
        <tr class="bingo-tr">
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo21.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo22.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo23.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo24.jpg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo25.jpg' %>);"></div>
          </td>
        </tr>
        

        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
