<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text">
        <h1 class="header-arc-text">
          <span class="char1 char">h</span>
          <span class="char2 char">a</span>
          <span class="char3 char">v</span>
          <span class="char4 char">e</span>
          <span class="char5 char"></span>
          <span class="char6 char">y</span>
          <span class="char7 char">o</span>
          <span class="char8 char">u</span>
          <span class="char9 char"></span>    
          <span class="char10 char">e</span>
          <span class="char11 char">v</span>
          <span class="char12 char">e</span>
          <span class="char13 char">r</span>
        </h1> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
      <div id="show-bingo">BINGO</div>
      <table class="bingo-welcome">
        <tr>
          <th class="bingo-th below-arc-text col-xs-2">B</th>
          <th class="bingo-th below-arc-text col-xs-2">I</th>
          <th class="bingo-th below-arc-text col-xs-2">N</th>
          <th class="bingo-th below-arc-text col-xs-2">G</th>
          <th class="bingo-th below-arc-text col-xs-2">O</th>
        </tr>
        <tbody class="bingo-tbody">
        <tr class="bingo-tr">
          <td id="bingo-0-0" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo1.jpg' %>);"></div>
          </td>
          <td id="bingo-0-1" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo2.jpg' %>);"></div>
          </td>

          <td id="bingo-0-2" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo3.jpg' %>);"></div>
          </td>
          <td id="bingo-0-3" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo4.jpg' %>);"></div>
          </td>
          <td id="bingo-0-4" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo5.jpg' %>);"></div>
          </td>
        </tr>
        <tr class="bingo-tr">
          <td id="bingo-1-0" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo6.jpg' %>);"></div>
          </td>
          <td id="bingo-1-1" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo7.jpg' %>);"></div>
          </td>
          <td id="bingo-1-2" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo8.jpg' %>);"></div>
          </td>
          <td id="bingo-1-3" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo9.jpg' %>);"></div>
          </td>
          <td id="bingo-1-4" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo10.jpg' %>);"></div>
          </td>
        </tr>
        <tr class="bingo-tr">
          <td id="bingo-2-0" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo11.jpg' %>);"></div>
          </td>
          <td id="bingo-2-1" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo12.jpg' %>);"></div>
          </td>
          <td id="bingo-2-2" class="col col-xs-2 bingo-col marked" style="text-align:center;">
           <i class="fa fa-star fa-4x" style="color:red;"></i>
          </td>
          <td id="bingo-2-3" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo14.jpg' %>);"></div>
          </td>
          <td id="bingo-2-4" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo15.jpg' %>);"></div>
          </td>
        </tr>
        </tr>
        <tr class="bingo-tr">
          <td id="bingo-3-0" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo16.jpg' %>);"></div>
          </td>
          <td id="bingo-3-1" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo17.jpg' %>);"></div>
          </td>
          <td id="bingo-3-2" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo18.jpg' %>);"></div>
          </td>
          <td id="bingo-3-3" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo19.jpg' %>);"></div>
          </td>
          <td id="bingo-3-4" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo20.jpg' %>);"></div>
          </td>
        </tr>
        <tr class="bingo-tr">
          <td id="bingo-4-0" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo21.jpg' %>);"></div>
          </td>
          <td id="bingo-4-1" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo22.jpg' %>);"></div>
          </td>
          <td id="bingo-4-2" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo23.jpg' %>);"></div>
          </td>
          <td id="bingo-4-3" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo24.jpg' %>);"></div>
          </td>
          <td id="bingo-4-4" class="col col-xs-2 bingo-col" onclick="markCircle(this)">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'bingo25.jpg' %>);"></div>
          </td>
        </tr>
        

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container-fluid explanation-section">
  <div class="row explanation-block">
    <div id-"exp-1" class="explanation-ball col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2">
      <div class="explanation-content">
        <p><i class="fa fa-plus-circle fa-5x accent-background"></i></p>
        <h4 class="accent-background"><span class="accent-font">Create</span> an account</h4>
        <ul class="explanation-list">
          <li>Create an account to play cards others create</li>
          <li>Create a group to create your own!</li>
        </ul>
      </div>
    </div>
    <div class="exp-empty hide-if-xs col-sm-4 col-sm-offset-0">      
    </div>
    <div class="exp-empty hide-if-xs col-sm-6 col-sm-offset-0"></div>
    <div id-"exp-2" class="explanation-ball col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1">
      <div class="explanation-content">
        <p class="accent-background"><i class="fa fa-play-circle fa-5x"></i></p>
        <h4 class="accent-background"><span class="accent-font">Play!</span></h4>
        <ul class="explanation-list">
          <li>Challenge yourself by picking out a bingo card</li>
          <li>Try to get a bingo!</li>
        </ul>
      </div>
    </div>
    <div id-"exp-3" class="explanation-ball col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-3">
      <div class="explanation-content">
        <p class="accent-background"><i class="fa fa-share fa-5x"></i></p>
        <h4 class="accent-background"><span class="accent-font">Share...</span></h4>
        <ul class="explanation-list">
          <li>Share the bingo cards you create</li>
          <li>Yay, a bingo!  Tell your friends.</li>
        </ul>
      </div>
    </div>
    <div class="exp-empty hide-if-xs col-sm-4 col-sm-offset-2"></div>
  </div>
</div>
