<div class="header" style="background-image: url(<%= image_url("header.jpeg") %>);">
</div>
<div class="container-fluid">
  <div class="welcome-explanation">
    <div class="row row-for-box">
      <div class="col col-xs-12 col-sm-3">
        <div class="box">
          <div class="circle"></div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-3 col-sm-offset-1">
        <div class="box">
          <div class="circle"></div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-3 col-sm-offset-1">
        <div class="box">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <div class="text">
        <h1 class="header-arc-text">
          <span class="char1 char">h</span>
          <span class="char2 char">a</span>
          <span class="char3 char">v</span>
          <span class="char4 char">e</span>
          <span class="char5 char"></span>
          <span class="char6 char">y</span>
          <span class="char7 char">o</span>
          <span class="char8 char">u</span>
          <span class="char9 char"></span>    
          <span class="char10 char">e</span>
          <span class="char11 char">v</span>
          <span class="char12 char">e</span>
          <span class="char13 char">r</span>
    
        </h1> 
      </div>
      <div class="col col-xs-12">  
      <table class="bingo-welcome">
        <tr>
          <th class="bingo-th below-arc-text col-xs-2">B</th>
          <th class="bingo-th below-arc-text col-xs-2">I</th>
          <th class="bingo-th below-arc-text col-xs-2">N</th>
          <th class="bingo-th below-arc-text col-xs-2">G</th>
          <th class="bingo-th below-arc-text col-xs-2">O</th>
        </tr>
        <tbody class="bingo-tbody">
        <tr class="bingo-tr">
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'header.jpeg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'header.jpeg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'header.jpeg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'header.jpeg' %>);"></div>
          </td>
          <td class="col col-xs-2 bingo-col">
            <div class="bingo-image-column" style="background-image: url(<%= image_url 'header.jpeg' %>);"></div>
          </td>
        </tr>
      </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
