<div class="row">
  <div class="col-xs-12">
    <h1 class="accent-font text-center">Your Cards</h1>
    <div class="margin30"></div>
    <div class="profile-cards row" id="mycards">
      <% @cards.each do |card| %>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="bingo-div-card">
            <div class="bingo-div-body">
              <% if card.is_public %>
                <h4 class="accent-font"><i class="fa fa-unlock" data-toggle="tooltip" data-placement="bottom" title="public"></i> <%= "#{card.template.name} card" %></h4>
              <% else %>
                <h4 class="accent-font"><i class="fa fa-lock" data-toggle="tooltip" data-placement="bottom" title="private"></i> <%= "#{card.template.name} card" %></h4>
              <% end %>
              <p><%= "#{card.num_bingos} bingos" %></p>
              <%= link_to ("<i data-tooltip='tooltip' data-placement='left' title='Play' class='fa fa-play-circle'></i>").html_safe, edit_card_path(card) %> | 
              <%= link_to ("<i data-tooltip='tooltip' data-placement='left' title='Show' class='fa fa-info-circle'></i>").html_safe, card_path(card) %>
              
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
