  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h4>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li class="has-error has-feedback"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_for(@organization) do |f| %>      
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "organization name", class: "form-control" %>
        </div>
        <div class="actions form-group">
          <%= f.button class: "btn accent-background"  %>
        </div>
  <% end %>
