<div class="row">
  <div class="col col-xs-12 col-md-10 col-md-offset-1">
  
    <h2 class="accent-font text-center"><%= @organization.name %></h2>

    
    <div class="margin30"></div>
    
      <% if @is_admin %>
        <h4 class="text-center"><a href="#group">Your Group</a> | <a href="#mymembers">Your Members</a> | <a href="#mytemplates">Your Templates</a></h4>    
        
      <% end %>
      
      <div class="margin30"></div>
    
    <% if @is_admin %>
      <div class="admin-organization well" id="group">
        <h4 class="accent-font text-center">Your Group Settings</h4>
        <p>
          <strong>Sign Up Link:</strong>
          <%= link_to organization_sign_up_url(@organization.token), organization_sign_up_url(@organization.token) %>   <%= link_to ("<i class='fa fa-refresh' data-tooltip='tooltip' data-placement='top' title='Refresh token'></i>").html_safe, update_organization_token_path(@organization) %>
        </p>
        <p>
          <em>Share this with members who should join.  The link isn't private but isn't guessable.  Refresh as needed.</em>
        </p>
      <div class="margin30"></div>
      <div class="text-center">
        <%= link_to "Edit", edit_organization_path(@organization), class: "btn accent-background" %> | 
        <%= link_to "Delete", organization_path(@organization), method: "delete", class: "btn accent-background", data: { confirm: "Are you sure?" }  %>
      </div>
      </div>

    <% end %>
    
    <div class="margin30"></div>

    <% if @is_admin %>
      <div class="organization-templates row" id="mymembers">
        <h4 class="accent-font text-center">Members</h4>
          <div class="col-xs-12 col-md-8">
          <a download="somedata.xls" href="#" class="btn" onclick="return ExcellentExport.excel(this, 'tabledata', 'Sheet Name Here');" data-toggle="tooltip" data-placement="top" title="Export to Excel"><i class="fa fa-file-excel-o"></i></a>
          <a download="somedata.csv" href="#" class="btn" onclick="return ExcellentExport.csv(this, 'tabledata');" ata-toggle="tooltip" data-placement="top" title="Export to CSV"><i class="fa fa-file"></i></a>
            <table id="tabledata">
              <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
              </thead>
              <tbody>
                <% @organization.users.each do |user| %>
                  <tr>
                    <% if user == @user %>
                        <td><%= link_to "#{user.first_name}", profile_path %></td>
                        <td><%= link_to "#{user.last_name}", profile_path %></td>
                        <td><%= user.role(@organization).name %> 
                          <%= link_to ("<i class='fa fa-chain-broken' data-toggle='tooltip' data-placement='bottom' title='Drop Group'></i>" ).html_safe, organization_sign_up_path(@organization.token), method: "delete", class: "btn", data: {confirm: "Are you sure?"} %></td>
                   <% else %>
                        <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %></td>
                        <td><%= user.role(@organization).name %> 
                          <%= link_to ("<i class='fa fa-chain-broken' data-toggle='tooltip' data-placement='bottom' title='Remove User'></i>" ).html_safe, organization_user_path(@organization.id, user.id), method: "delete", class: "btn" %>
                          <% if user.role(@organization) == Role.admin %>
                            <%= link_to ("<i class='fa fa-user-times' data-toggle='tooltip' data-placement='bottom' title='Remove admin'></i>" ).html_safe, organization_user_path(@organization.id, user.id, organization_user: {role_id: @user_id}), method: "put", class: "btn" %>
                          <% else %>
                            <%= link_to ("<i class='fa fa-user-plus' data-toggle='tooltip' data-placement='bottom' title='Make an admin'></i>" ).html_safe, organization_user_path(@organization.id, user.id, organization_user: {role_id: @admin_id}), method: "put", class: "btn" %>              
                          <% end %>
                        </td>
                   
                        <td><%= "#{user.first_name} #{user.last_name}" %></td>
                        <td></td>
                    <% end %>
                  </tr>
                <% end %>
                <tr></tr>
              </tbody>
            </table>
        <div>
      </div>
    <% end %>

  <div class="margin30"></div>
    
    <div class="organization-templates row" id="mytemplates">
      <% @templates.each do |template| %>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <div class="bingo-div-template">
            <div class="bingo-div-body">
              <% if template.is_public %>
                <h4 class="accent-font"><i class="fa fa-unlock" data-toggle="tooltip" data-placement="bottom" title="public"></i> <%= "#{template.name} template" %></h4>
              <% else %>
                <h4 class="accent-font"><i class="fa fa-lock" data-toggle="tooltip" data-placement="bottom" title="private"></i> <%= "#{template.name} template" %></h4>
              <% end %>
              <p><span><%= template.cards.count %></span> cards played</p>
              <%= link_to ("<i data-tooltip='tooltip' data-placement='left' title='Edit' class='fa fa-pencil fa-1x'></i>").html_safe, edit_organization_template_path(@organization, template) %> | 
              <%= link_to ("<i data-tooltip='tooltip' data-placement='left' title='Show' class='fa fa-info-circle fa-1x'></i>").html_safe, organization_template_path(@organization, template) %>  |
              <%= link_to ("<i data-tooltip='tooltip' data-placement='left' title='Delete' class='fa fa-trash fa-1x'></i>").html_safe, organization_template_path(@organization, template), method: "delete" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  
  
  


    <div class="margin30"></div>
    
    
  </div>
</div>