<!DOCTYPE html>
<html>
<head>
  <title>Have You Ever Bingo</title>
  <%= stylesheet_link_tag  'application', media: 'all'%>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Pacifico' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,600' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar accent-background">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="fa fa-2x fa-bars"></span>
           </button>
           <a class="navbar-brand accent-font btn" href="/"><%= image_tag "have_you_bingo_logo.svg", id: "logo", size: "50x50", alt: "Logo" %> Have You Ever ... Bingo!</a>
         </div>
         <div class="collapse navbar-collapse" id="my-navbar">
           <ul class="nav navbar-nav pull-right">
            <% if logged_in? %>
              <li>
                <%= link_to profile_path, class: "accent-background" do %>
                  <i class='fa fa-2x fa-cogs'></i> Your Profile 
                <% end %>
              </li>
              <li>
                <%= link_to :logout, method: :delete, class: "accent-background" do %>
                  <i class='fa fa-2x fa-sign-out'></i> Logout
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_organization_path, class: "accent-background" do %>
                  <i class='fa fa-2x fa-users'></i> Create a Group
                <% end %>
              </li>
              <li>
                <%= link_to new_user_path, class: "accent-background" do %>
                  <i class='fa fa-2x fa-user-plus'></i> Create Account
                <% end %>
              </li>
              <li>
                <%= link_to :login, class: "accent-background" do %>
                  <i class='fa fa-2x fa-sign-in'></i> Login
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <p class="accent-font text-center" id="notice"><%= flash[:notice] %></p>
        <p class="accent-font has-error has-feedback text-center" id="alert"><%= flash[:alert] %></p>
      </div>
      <%= yield %>
      <div class>
  </div>
  <%= javascript_include_tag 'application' %>
  

</body>
</html>
